body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square,.square:hover,.square:active,.square:focus,.square:active:hover,.square[disabled],
.square[disabled]:hover {
   padding:0;
   border-radius:0;
   outline: 2px solid #fff;
   cursor: pointer
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: -30px;
  color: darkgreen;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Covered By Your Grace', cursive;
}
.x-character {
	color : #000080;
}
.y-character {
	color : #b22222;
}
.btn-area {
  margin-top : 10px;
  margin-left: -30px;
}
.badge { 
  display: inline-block; 
  margin: 0 auto; 
  width: 10px; 
}
.header {
  color: darkgreen;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Covered By Your Grace', cursive;
}